<h1 class="h2">
    About Us
    </h1>
    <section class="module-text" id="more_text">
    <p>Tar Car Service is one of the world's largest independent workshop chains. Our international service network encompasses more than 15,000 authorized workshops in 150 countries.</p><p>With our wide range of expert services, we can offer everything you could possibly need for your car and car service - from inspection, periodic maintenance, accidental repairs, replacement of genuine auto parts, value added services that puts and extra smile on your face. </p><p>In India, we have over 270 Tar Car Service workshops, so you are sure to find one local to you who will be happy to assist you.</p>
    </section>
    <h2 class="text-center">
    Pillars of Tar Car Service
    </h2>
    <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_640w_360h.jpg" alt="World Wide Network" title="World Wide Network" srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_world_icon_image_1280w_720h.jpg 1280w" sizes="935px">
    <h3 class="h5">
    Legacy of 100 years of Tar Car Service
    </h3>
    <p class="copy">Since 1921 Tar Car Service has grown to become one of the largest workshop networks in the world.</p>
    World class for 100 years!
    </h3>
    <p>The network is now made up of carefully selected garages that meet the strict qualification requirements of Bosch and have a passion for cars and deliver great quality service. Tar Car Service has been guided by Robert Tar’s driving principles of quality and customer focus, ensuring that the high-quality standards always run throughout the business.</p>
    <h3>
    For everything your car needs
    </h3>
    <p>The claim “for everything your car needs” is a brand claim that is echoed throughout Tar Car Service. Over the past 100 years Tar Car Service has developed to become an all-round workshop network providing car drivers with high-quality vehicle maintenance, repair, and diagnosis.</p>
    <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_640w_360h.jpg" alt="Quality management" title="Quality management" srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_certificate_icon_image_1280w_720h.jpg 1280w" sizes="935px">
    <h3 class="h5">
    Quality management
    </h3>
    <h1 class="h2">
    Quality management: A tradition of top performance
    </h1>
    <p class="copy">Tar Car Service stands for exceptional quality. Our quality management system guarantees excellent standards at every Tar Car Service workshop. </p>
    <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_640w_360h.jpg" alt="Best Price" title="Best Price" srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/about_bcs_car_mechanic_image_1280w_720h.jpg 1280w" sizes="935px">
    <h3 class="h5">
    Service promises
    </h3>
    <p class="copy">Our unique service promises demonstrate our commitment to always delivering the best service to you.</p>
    <a class="stretched-link link-btn" href="/in/en/about-us/quality-management/"></a>
    <h2 class="headline">
    Enjoy the benefits of our world-class services
    </h2>
    <h2 class="headline">
    <p class="h4">
    Outstanding Quality
    </p>
    </h2>
    <div class="accordion-content">
    <div class="content">
    <div class="row">
    <div class="col-12">
    <section class="module-text" id="accordion_1656766601">
    <p><b>Professional work: </b>All our employees are fully qualified. We always use the latest equipment. </p><p></p><p><b>Genuine spare parts:</b> We make exclusive use of genuine parts or spare parts of the highest quality to ensure your vehicle retains its value. </p><p></p><p><b>Conscientiousness:</b> We take good care of your vehicle. And our workshops always adhere to the applicable safety and environmental standards </p>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="accordion-item ">
    <div class="item-head">
    <p class="h4">
    Broad-based and Comprehensive
    </p>
    </div>
    <div class="accordion-content">
    <div class="content">
    <div class="row">
    <div class="col-12">
    <section class="module-text" id="accordion_236650253">
    <p><b>Everything a car needs: </b>We perform vehicle maintenance, repair and retrofitting work. We can provide expert advice on all aspects of the car. </p><p></p><p><b>Time saving:</b> You can bring your vehicle at short notice and we will perform repairs as quickly as possible to ensure you never have to wait longer than necessary. </p><p></p><p><b>Mobility: </b>We keep you on the road. You can have the use of a replacement vehicle when available. </p>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="accordion-item ">
    <div class="item-head">
    <p class="h4">
    Fair and Reasonable
    </p>
    </div>
    <div class="accordion-content">
    <div class="content">
    <div class="row">
    <div class="col-12">
    <section class="module-text" id="accordion_975808245">
    <p><b>Expert work, transparent costs:</b> We will give you a detailed breakdown in advance of all the work and time involved. So you know exactly what everything will cost right from the start. </p><p></p><p><b>Fair approach to repair work:</b> We only ever repair what is really necessary. </p><p></p><p><b>Everything remains under your control: </b>We always check with you first before performing any extra work. </p><p></p><p><b>See yourself:</b> We keep any parts removed in case you want to take a look at them when you collect your vehicle. </p>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="accordion-item ">
    <div class="item-head">
    <p class="h4">
    Personal and Committed
    </p>
    </div>
    <div class="accordion-content">
    <div class="content">
    <div class="row">
    <div class="col-12">
    <section class="module-text" id="accordion_592081662">
    <p><b>Personal service</b>: We listen to what you have to say and are always pleased to offer advice on everything to do with your vehicle. </p><p><b>Full commitment</b>: We do everything we can for you and your vehicle. You can rely on us to find the right solution to even the most awkward or extraordinary problems. </p>
    <div class="cta-row">
    <div class="module-button">
    </div>
    </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </p>
    <h2 class="text-center">
    More information
    </h2>
    <h3 class="h5">
    Quality-oriented, genuine auto parts
    </h3>
    <p class="copy">At Tar Car Service we use high quality Bosch spare parts for your vehicle. Find out more about the range of Tar parts available.</p>
    <h3 class="h5">
    Code of practice
    </h3>
    <p class="copy">All Tar Car Service workshops work to a strict Code of Practice, a commitment to providing the highest levels of technical and customer service.</p>
    <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/about_bcs/online_booking_image_640w_360h.jpg" alt="Register as a workshop" title="Register as a workshop" srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/online_booking_image_640w_360h.jpg 640w, https://www.boschca" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/about_bcs/online_booking_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/about_bcs/online_booking_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/about_bcs/online_booking_image_1280w_720h.jpg 1280w" sizes="935px">
    <h3 class="h5">
    Contact Us
    </h3>
    <p class="copy">We would be delighted to answer any questions you may have. We look forward to hearing from you.</p>