{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TARS_CARS</title>
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
</head>
<body>  
    <div class="menu-bar">
        <div class="logo"><a href="#"> <img src="{% static 'images/logo.jpg' %}" alt="logo"/></a></div>
        <ul>    
            <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-clone" aria-hidden="true"></i>Services</a>  </li>
            <li><a href="offers/"><i class="fa fa-gift" aria-hidden="true"></i>Offers</a></li>
            <li><a href="doorstep/"><i class="fa fa-male"></i>Door Step</a></li>
            <li><a href="aboutus/"><i class="fa fa-edit" aria-hidden="true"></i>About Us</a></li>
            <li><a href="contactus/"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a></li>
            <li><a href="login/"><i class="fa fa-sign-in" aria-hidden="true"></i>LOGIN</a></li>
        </ul>
    </div>
    <div class="com_name"><h1> WELCOME TO TARS CAR SERVICE CENTRE!!</h1></div><br><br>
   <div class="bg_image"><img src="{% static '/images/bg_2.jpg'%}" alt="Photo" width="1350px"></div><br><br>
    
    <div class="para1"> 
        <p>
            We are your world-class workshop next door for car service, maintenance and car repairs, of all makes and models. We are powered by TARS to offer you excellent car services at a fair price.
        </p><br>
        <P>
            At TARS car service centre, we offer a wide variety of best car services like Periodic Services, Denting and Painting, Batteries Replacement, Car Spa and Cleaning, AC Service and Repair, Tyre Replacemnt and Wheelcare, Car Insurance Claims, Car Detailing, Custom Services, Windshields and Glass Replacement, Lights and Fitments, Car Accessories and much more 
        </P><br>
        <p> We service and look after all brands and models of cars from Maruti Suzuki, Daewoo, Mahindra Hyundai, Skoda, Volkswagen, lsuzu, Volvo etc. We also have OEM-specified facilities for exquisite German luxury cars such as BMW, Audi, Mercedes Benz</p>
    </div><br><br><br><br><br>
    <div class="services">
        <h1 class="head1">Our Services</h1><br><br>
        <p class="para2">We provide one stop solutions for your car. Not just with our experience but also wuth the latest technology from Automobile industry. We provide almost all scheduled and breakdown services for your car. Some of our services are mentioned below</p>
        <div class="box"><i class="fa fa-car fa-3x" aria-hidden="true"></i></div>
        <div class="box"><i class="fa fa-wrench fa-3x" aria-hidden="true"></i></div>
        <div class="box"><i class="fa fa-sun-o fa-3x" aria-hidden="true"></i></div>
        <div class="box"><i class="fa fa-battery-quarter fa-3x" aria-hidden="true"></i></div>
        <div class="box"><i class="fa fa-gear fa-3x" aria-hidden="true"></i></div>
        <div class="box"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>
        <div class="box1">Inspection and Checks</div>
        <div class="box1">Car Repair Service</div>
        <div class="box1">Tyre Service</div>
        <div class="box1">Battery Service</div>
        <div class="box1">Engine Service</div>
        <div class="box1">Air conditioning</div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>   
    


    <div class="choose">
        <h1 class="head2">Why Choose TARS Car Service </h1><br> <br>
        <p class="para1">With us, you can expect an expertise to service multi-brand cars, high quality services, use of genuine auto parts, and transparency in service price.</p>
     <br>
       <p class="para3">
        1. Multi-platform Customer Support<br>
        2. 100% Genuine OEM/OES Spare parts<br>
        3. Extended Service Support<br>
        4. Dedicated Service Assistant Assigned<br>
        5. Equipped Workshops with Trained Professionals<br>
        6. Competitive Pricing Policies<br>
        7. Free Pickup and Drop Services<br>
        8. Multiple Payment Options<br><br><br>
     </p>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact US</a></li>
                        <li><a href="#">Our Services</a></li>  
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Door step service</a></li>
                        <li><a href="#">Why Us?</a></li>  
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>