<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1 class="h2">
        Our current offers
        </h1>
        <b>OFFERS COMING SOON...</b>
        <div class="module-teaser-multi-columns module-block" id="guide_teaser_1" data-plugin="moduleTeaserLoadMore">
        <h2 class="text-center">
        Handy guide
        </h2>
        <div class="teaser-container">
        <div class="row teaser-block show">
        <div class="col-12 col-lg-4">
        <div class="component-teaser">
        <div class="teaser-image">
        <div class="module-image">
        <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_640w_360h.jpg" alt="Accident Guide" title="Accident Guide" srcset=" https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/accident_guide_image_1280w_720h.jpg 1280w" sizes="720px">
        </div>
        </div>
        <div class="teaser-content">
        <h3 class="h5">
        Accident Guide
        </h3>
        <p class="copy">You had a car accident - what should you do next? The accident guide of Tar Car Service gives you important tips and advice in the worst-case scenario.</p>
        </div>
        </div>
        </div>
        <div class="col-12 col-lg-4">
        <div class="component-teaser">
        <div class="teaser-image">
        <div class="module-image">
        <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_640w_360h.jpg" alt="Battery Guide" title="Battery Guide" srcset=" https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/battery_guide_image_1280w_720h.jpg 1280w" sizes="720px">
        </div>
        </div>
        <div class="teaser-content">
        <h3 class="h5">
        Battery Guide
        </h3>
        <p class="copy">The most frequent cause of vehicle breakdowns is a defective battery. With our Battery Guide, you ensure better battery maintenance and can give your battery a helping hand as well as other useful advice.</p>
        </div>
        </div>
        </div>
        <div class="col-12 col-lg-4">
        <div class="component-teaser">
        <div class="teaser-image">
        <div class="module-image">
        <img class="lazyautosizes lazyloaded" src="https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_640w_360h.jpg" alt="Fuel saving Guide" title="Fuel saving Guide" srcset=" https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_1280w_720h.jpg 1280w" data-sizes="auto" data-srcset=" https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_640w_360h.jpg 640w, https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_960w_540h.jpg 960w, https://www.boschcarservice.com/xrm/media/guides/fuel_saving_guide_image_1280w_720h.jpg 1280w" sizes="720px">
        </div>
        </div>
        <div class="teaser-content">
        <h3 class="h5">
        Fuel saving Guide
        </h3>
        <p class="copy">The fuel saving guide of Tar Car Service will make efficient driving easy and reduce long-term fuel consumption.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="teaser-content">
        <h3 class="h5">
        General Maintenance Guide
        </h3>
        <p class="copy">Our General Maintenance Guide offers valuable advice on the safety and wellbeing of your vehicle.</p>
        </div>
        </div>
        </div>
        
        <div class="teaser-content">
        <h3 class="h5">
        Holiday Guide
        </h3>
        <p class="copy">Holiday at last! But the going can get tough for your car. Our Holiday Guide explains the points to watch before starting and during the journey.</p>
        </div>
        </div>
        </div>
        
        <div class="teaser-content">
        <h3 class="h5">
        Light and Sight Guide
        </h3>
        <p class="copy">We are your world-class workshop next door for car service, maintenance and car repairs, of all makes and models. We are powered by Tar to offer you excellent car services at a fair price.</p>
        </div>
        </div>
        </div>
        </div>
        
        <div class="teaser-content">
        <h3 class="h5">
        Tyre Guide
        </h3>
        <p class="copy">What are the points to watch with regard to cleaning, storing and changing tyres? Our Tyre Guide contains important information and valuable advice to make sure you never lose your grip.</p>
        </div>
        </div>
        </div>
        <div class="teaser-content">
        <h3 class="h5">
        Seasonal Guide
        </h3>
        <p class="copy">Our Seasonal Guide contains few tips that will help you to enjoy an uninterrupted drive, in any seasons.</p>
        </div>
        </div>
        </div>
        </div>
        </div>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>